{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | absURL }}" role="button">Get started</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/staqjs/staq">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">World Class Design</h2>
        <p>Get professional landing, pricing, about pages and more out of the box with multiple built in templates</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">User Ready</h2>
        <p>Staq ships with code and UI to handle user registration, log in, log out, and password reset flows</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Easy Payments</h2>
        <p>Integrate one-time purchases or subscription billing into your site with just a few lines of code</p>
      </div>
    </div>
    <!-- <div class="row justify-content-center text-center">
	 <div class="col-lg-5">
         <h2 class="h4">Full text search</h2>
         <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
	 </div>
	 <div class="col-lg-5">
         <h2 class="h4">Page layouts</h2>
         <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
	 </div>
	 </div> -->
  </div>
</section>

<hr />

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-around text-left">
      <div class="col-lg-7">
        <h2 class="h4">What</h2>
        <p>Staq is a Javascript library for creating Software-as-a-Service (SaaS) products. It works with React, Firebase, and Stripe to abstract away all the boring parts of building software people pay you for.</p>

	<p>The library contains a set of React components that implement standard SaaS features including:</p>

	<ul>
	  <li> User accounts</li>
	  <li>Landing page</li>
	  <li>Pricing page</li>
	  <li>Billing and subscription management</li>
      </ul>

      <p>Staq also ships with a set of NodeJS functions to be used with Firebase to implement the backend logic necessary for features like subscription billing with Stripe.</p>
      </div>
      <div class="col-lg-7">
        <h2 class="h4">Why</h2>
        <p>We believe it should be as easy as possible to start making money online. We believe owning and running a profitable software business will increasingly become the best way for individuals to reach financial independence.</p>

	<p>But right now it takes too long to set up the technology to power a simple SaaS company. Even for engineers who know what they’re doing and are familiar with existing tools.</p>

	<p>We’re building Staq to fix that.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-around text-left">
      <div class="col-lg-5">
        <h2 class="h4">Batteries Included</h2>

	<p>
	  The <code>StaqRoutes</code> component that ships with the library will render all the routes users expect in a modern SaaS application. This code is all you need to install a professional-grade responsive landing page, along with support for user registration, sign in/sign out, and password reset flows.
	</p>
      </div>
      <div class="col-lg-9">

	<pre>
	  <code class="lang-jsx">
// App.jsx

import { BrowserRouter as Router } from 'react-router-dom'
import { StaqRoutes } from '@staqjs/client'

function App() {
  return (
    &lt;Router&gt;
      &lt;StaqRoutes /&gt;
    &lt;/Router&gt;
  )
}

export default App
	  </code>
	</pre>

      </div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container">
    <div class="row row-reverse justify-content-around text-left">
      <div class="col-lg-9">
	<pre>
	  <code class="lang-jsx">
// index.js

import { initStaq } from '@staqjs/client'

initStaq({
  SiteTitle: 'My Site',
  Template: {
    Name: 'One',
    Config: {
      Hero: {
        PrimaryText: 'Business Analytics like you\'ve never seen',
        SecondaryText: 'Improve your metrics with the click of a button',
        PrimaryLink: { Text: 'Get Started', To: '/signup' },
        SecondaryLink: { Text: 'Learn More', To: '/about' },
        Image: '/path/to/hero.png'
      }
    }
  }
})
	  </code>
	</pre>

      </div>

      <div class="col-lg-5">
        <h2 class="h4">Configurable</h2>

	<p>
	  Every one of the many built-in templates lets you customize the colorscheme and marketing copy to fit your brand.
	</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-around text-left">
      <div class="col-lg-5">
        <h2 class="h4">Convenient</h2>

	<p>
	  Use Staq to access the logged in user from anywhere in your application, along with interfaces for interacting with Stripe and Firebase.
	</p>
      </div>
      <div class="col-lg-9">

	<pre>
	  <code class="lang-jsx">
import { compose } from 'recompose'
import { withAuth, withFirebase, withStripe } from '@staqjs/client'

function UserProfileBase() {
  const { auth, firebase, stripe } = props

  return (
    &lt;div&gt;
      {/* ... */}

      &lt;p&gt;Hello { auth.currentUser.name }&lt;/p&gt;

      {/* ... */}
    &lt;/div&gt;
  )
}

const UserProfile = compose(
  withAuth,
  withFirebase,
  withStripe
)(UserProfileBase)

export default UserProfile
	  </code>
	</pre>

      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
